.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar bg-body-tertiary px-3 mb-3{
  background-color: rgba(44, 199, 16, 0.855);
}
.App-header {
  background-color: #283429;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 31, 19);
}

 .bg-body-tertiary px-3 mb-3{
  background-color: rgb(195, 201, 111);
 }

.App-link {
  color: #61dafb;
}
#nav {color: blue;
background-color: blue;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: hsl(295, 75%, 29%);
}

.navbar-brand,
.nav-link {
  color: #290404ca;
  background-color: #dee9e3;
  text-shadow: #61dafb;
  font-size: larger;
}

.nav-link:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #fff;
  color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #007bff;
  color: #ffffff;
}
.container-fluid{
  width: 40%;
  height: 100;
}
.dropdown-menu show{
  background-color: #283429;
  text-align: center;
}
.nav{
  background-color: hsl(189, 21%, 94%);
}
